<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
      <div class="container-fluid">
          <a class="navbar-brand d-flex flex-column align-items-center" routerLink="/" routerLinkActive="active">
              <i class="bi bi-airplane"></i> Instaholidays
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/">Iniciar sesión</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/register">Registro</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<main class="bg-body-secondary">
  <router-outlet></router-outlet>
</main>
<footer class="footer bg-primary d-flex flex-column">
  <div class="row w-100 justify-content-around p-4">
      <ul class="col-auto">
        <li class="list-unstyled"><a class="text-decoration-none text-white" href="">Política de cookies</a></li>
        <li class="list-unstyled mt-3"><a class="text-decoration-none text-white" href="">Términos de servicio</a></li>
      </ul>
      <ul class="col-auto">
        <li class="list-unstyled"><a class="text-decoration-none text-white" href="">Política de privacidad</a></li>
        <li class="list-unstyled mt-3"><a class="text-decoration-none text-white" href="">Sobre nosotros</a></li>
      </ul>
      <ul class="col-auto">
        <li class="list-unstyled"><a class="text-decoration-none text-white" href="">Preguntas frecuentes</a></li>
        <li class="list-unstyled mt-3"><a class="text-decoration-none text-white" href="">Información de la empresa</a></li>
      </ul>
  </div>
  <div class="row w-100">
    <p class="col text-center text-light"><i class="bi bi-c-circle-fill me-2"></i>Todos los derechos reservados</p>
  </div>
</footer>
