<div class="container">
    <h2 class="text-center">¡Empieza a buscar tus hoteles ahora!</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Origen" aria-label="Origen">
                    <input type="text" class="form-control" placeholder="Destino" aria-label="Destino">
                    <span class="form-control">
                        <span>Fecha salida</span>
                        <input type="date">
                    </span>
                    <span class="form-control">
                        <span>Fecha vuelta</span>
                        <input type="date">
                    </span>
                    <input class="form-control" type="number" placeholder="Num adultos">
                    <input class="form-control" type="number" placeholder="Num niños">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>

</div>