<div class="container-fluid py-5 d-flex flex-column gap-5">
    <h1 class="text-center">¡Prepara tus vacaciones ahora!</h1>
    <h3 class="text-center ">Empieza a buscar lo que necesites</h3>
    <ul class="navbar-nav d-flex flex-row gap-5 justify-content-center ">
        <li class="nav-item btn btn-primary">
            <a class="nav-link " routerLink="/vuelos" routerLinkActive="active">Vuelos</a>
        </li>
        <li class="nav-item btn btn-primary">
            <a class="nav-link " routerLink="/hoteles" routerLinkActive="active">Hoteles</a>
        </li>
        <li class="nav-item btn btn-primary">
            <a class="nav-link" routerLink="/alquilercoches" routerLinkActive="active">Alquiler de coches</a>
        </li>
    </ul>
   
    <div id="carouselExampleInterval" class="carousel slide w-75 m-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <div class="carousel-inner rounded-4">
            <div id="carrousel1" class="carousel-item active p-5" data-bs-interval="8000">
                <h1 class="w-50 mt-3 text-light">Alquila tu coche preferido con precios únicos</h1>
                <button class="btn btn-primary mt-2 ms-auto ">Encuentralo aqui</button>
            </div>
            <div id="carrousel2" class="carousel-item " data-bs-interval="8000">
                <div class="position-absolute mb-5 bottom-0 p-5">

                    <h1 class="w-75 text-light">Reserva vuelos de todo tipo con los mejores precios</h1>
                    <button class="btn btn-primary mt-2 ms-auto ">Reserva aqui</button>
                </div>
            </div>
            <div id="carrousel3" class="carousel-item position-relative p-5" data-bs-interval="8000">
                <div class="position-absolute top-50 end-0 text-end translate-middle-y w-50 p-5">
                    <h1 class="text-light">Los mejores hoteles con hasta un 30% de descuento</h1>
                    <button class="btn btn-primary mt-2">Descúbrelo aquí</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev p-1 w-auto" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next p-1 w-auto" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>